{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fun Times</title>
        <!-- Original lines:
        <meta name="description" content="">
        <meta name="author" content="Hayley van Waas"> -->
        <meta title="description" content="">
        <meta title="author" content="Hayley van Waas, Edits from Eleanor">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'eventFinderApp/style.css' %}">
    </head>

    <body>
        <header>
            <div>
                <h1>Fun times, no dimes</h1>
                <h2>Events near that cost you nothing.</h2>
            </div>
            {% include './nav.html' %}
        </header>

        {% block content %}{% endblock %}
    </body>
</html>